@use "variables" as *;

html {
    font-size: 125%; //default fontsize to 20px
}

body {
    font-family: $bodyFont;
    background-color: $grey;

}

h1, h2, h3{
    font-family: $headingFont;
}

a{
    text-decoration: none;
    color: $beige;
    &:hover,
    &:focus {
        color:$green;
    }
}

.wrapper {
    margin: 0 auto;
    width:90%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

button {
    font-family: $bodyFont;
    margin:5px;
    color: $grey;
    background-color: $beige;
    border: 1px solid $green;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    &:hover,
    &:focus {
        background-color: $green;
        color: $grey;
    }
}

li {
    list-style: none;
}