/* common fonts */
$headingFont: 'Merienda One', cursive;
$bodyFont: 'Barlow', sans-serif;

/* commonly used colors */
$green: #BCBCA6;
$beige: #CDC4B9;
$lessBeige: #d8d2ca;
$offWhite: #eeece9;
$grey:  #545152;